body{
	/*background:linear-gradient(to bottom, #00ff99 0%, #ffcc99 100%);*/
	background-color: black;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
}
/*div{
	height: 300px;
	width: 600px;
	background-color: white;
	margin: 150px auto;
	position:absolute;
}*/
p{
	text-align: center;
	color:white;
	font-family: fantasy;
	font-size: 200px;
	/*margin: 300px auto;*/
	position:absolute;
	/*top:200px;*/

	/*margin:250px auto;*/

}
.scroll{
	height:100px;
	width: 200px;
	font-size: 30px;
	margin:500px auto;
	background-color: white;
	position:fixed;
}
.container{
	width:100%;
	position:relative;

}
.one{
	top:200px;
	left:100px;
	z-index: 1;
}
.two{
	width:100%;
	z-index:2;
}
.dance{
	top:400px;
	left:350px;
	z-index: 1;
}
.shock{
	top: 350px;
	left:500px;
	z-index: 1;
}

.smile{
	top:100px;
	left:350px;
	z-index: 1;
}
