body{
	margin:0;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}
.container{
	width: 100vw;
}
.contain{
	width: 85vw;
	margin: 0 auto;

}
.album{
	float: left;
	padding-left: 20px;
	padding-right:20px;
}
.navigation{
	
	background-color: black;
	
}
.everything{
	margin:0 auto;
	width: 45vw;
	
}
.everything h2{
	text-align: center;
}
.everything p{
	font-family: 'Open Sans', sans-serif;
}
.awards{
	padding-left: 30px;
	padding-right: 30px;
}
.awards p{
	line-height: .5;
}


a{
	text-decoration: none;
	color:white;
	transition: 1s all ease;
}
a:hover{
	color:red;
}
.inside{
	background-color: black;
	height: 10vh;
	left:45vw;
	color:white;
	width:100vw;
	/*margin-bottom: 10px;*/
	text-align: center

}
.center h2{
	text-align: center;
}
.left,.hover,.links,a,.awards{
	float:left;
}
.right{
	float:right;
}
.top{
	width:100vw;
	height:100vh;
	background-color: black
}
.recents{
	width: 100vw;
	text-align: center;
	height:100vh;
}
.links{
	float:left;
		margin:0 auto;
	padding-right: 20px;
	padding-left: 20px;
}
.members{
	
	margin: 0 auto;
	
}
.center{
	text-align: center;
}
.members p{
	line-height: .5;
}
.suho,.xiumin,.lay,.baek,.chan,.chen,.do,.kai,.sehun,.kris,.luhan,.tao{
	width: 100vw;
}

.mv{
	margin:0 auto;
	width:40vw;
	left:30vw;
	text-align: center;
}
img{
	max-width: 450px;
}
h1{
	text-align: center
}
.all{
	width: 90vw;
	margin:0 auto;
}
.recents p{

	width: 40vw;
	margin: 0 auto;
}
.zenbu{
	width: 30vw;
	margin:0 auto;
}
.members img{
	padding-top: 50px;
}
.album img{
	max-width: 200px;
	margin:0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
 
.clearfix:after {
    clear: both;
}
.mnavi {
    display: none;
    }
.recents p{
	font-size: .9em;
	opacity:.9;
}
.recents h3{
	font-size: 1em;
	opacity: .8;
}



@media only screen and (max-width: 1000px) {
    .mnavi {
        display: block;
        right: 30px;
    }
    .hidenavi {display: none;}
    
    .inside {display: none;}
    .recents p{
    	width: 50vw;
    }
 
}

@media only screen and (max-width: 750px) {

	body{
		font-size: 20px;
	}
	.recents p{
    	width: 90vw;
    }
    .recents img{
    	max-width: 90vw;
    }
    .everything{
    	width: 70vw;
    }
    iframe{
    	max-width: 90vw;
    	margin: 0 auto;
    }
    
  
}