body{
	font-size: 20px;
	background-color: #e74c3c;
	color:white;

}
#container{
	width:50vw;
	margin:0 auto;

}
.info{
	width:45vw;
	margin:0 auto;
	font-style: italic;
	text-align: center;
}
.sub{
	width:35vw;
	margin:0 auto;

}
.top{
	top:50vh;
	width:55vw;
	margin:0 auto;
	height:100vh;


}
.bodytext{
	background-color: white;
	color:black;
	border: 10px solid white;
}
/*.red{
	width:100vw;
	height:100vh;
	background-color: #e74c3c;
	color:white;
}*/
h1{
	font-size:4em;
	text-align: center;

}
h2{
	font-size: 2em;

}
h3{
	font-size:1.5em;

}
h4{
	font-size:1.3em;
	text-align: center;

}
p{
	/*width:90%;
	margin:0 auto;*/
}


@media only screen and (max-width: 600px) {
   body{
		font-size: 18px;
		background-color: #55efc4;
		color:#079992;

	}
	#container{
		width:90vw;
		margin:0 auto;

	}
	.info{
		width:45vw;
		margin:0 auto;
		font-style: italic;
		text-align: center;
	}
	.sub{
		width:50vw;
		margin:0 auto;

	}
	.top{
		top:50vh;
		width:90vw;
		margin:0 auto;
		height:100vh;


	}
	.bodytext{
		/*background-color: white;
		color:black;
		border: 10px solid white;*/
	}
	/*.red{
		width:100vw;
		height:100vh;
		background-color: #e74c3c;
		color:white;
	}*/
	h1{
		font-size:4em;
		text-align: center;

	}
	h2{
		font-size: 2em;

	}
	h3{
		font-size:1.5em;

	}
	h4{
		font-size:1.3em;
		text-align: center;

	}
	p{
		/*width:90%;
		margin:0 auto;*/
	}
}