body{
	background-color: yellow;
	font-size: 20px;
}
#container{
	width:75vw;
	margin:0 auto;
	background-color: green;
}
.headline{
	width:50vw;
	margin: 0 auto;
	background-color: white;

}
.bodytext{
	width: 35vw;
	margin: 0 auto;

}
.hero{

}
.largeimg{

}
.largeimg img{
	/*anything inside here ups the image*/
}
img{
	/*max width of the image to the container that the div it is*/
	max-width: 100%;
}
h1{

}
h4{

}
p.intro{

}
p.disclaimer{

}
p{

}

/*change to min-width if designing mobile first*/
/*can have multiple of this for various sizes*/
@media only screen and (max-width: 600px) {

	/*change anything to change when scale down to mobile size*/
	/*delete anything not going to be changed*/
	body{
	background-color: yellow;
	font-size: 20px;
	}
	#container{
		width:75vw;
		margin:0 auto;
		background-color: green;
	}
	.headline{
		width:50vw;
		margin: 0 auto;
		background-color: white;

	}
	.bodytext{
		width: 35vw;
		margin: 0 auto;

	}
	.hero{

	}
	.largeimg{

	}
	.largeimg img{
		/*anything inside here ups the image*/
	}
	img{
		/*max width of the image to the container that the div it is*/
		max-width: 100%;
	}
	h1{

	}
	h4{

	}
	p.intro{

	}
	p.disclaimer{

	}
	p{

	}
    
}